
*{
    padding: 0;
    margin: 0;
    z-index: 1;
}

html{
    scroll-behavior: smooth;
}

body{
    width:100%;
    height:100vh;
    background-color: rgb(80, 80, 80);
    color: white;
    overflow-x: hidden;
    opacity: 0;
    animation: fadeIn 5s forwards;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.appear{
    opacity: 0;
}

@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#toTop{
    position: fixed;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    background-color: #ffffff;
    bottom: 2vw;
    right: 2vw;
    z-index: 10;
    opacity: 75%;
    padding: 1vw;
}

/* スクロールバー */
body::-webkit-scrollbar {
    width: 1vw;
}

body::-webkit-scrollbar-thumb {
    background: #ffffff;
    width: 0.5vw;
    border-radius: 1vw;
}

/* メニュー */
.menuBar{
    position: fixed;
    background-color: rgb(60, 60, 60);
    width: 100%;
    height: 10vw;
    z-index: 4;
}

.menuBar p{
    font-size: 4vw;
    text-align: center;
    line-height: 10vw;
    float: left;
    font-family: 'Dela Gothic One', serif;
    margin-left: 1vw;
}

.menuBar img{
    width: 10vw;
    height: 10vw;
    float: left;
    filter: invert(100%);
    margin-left: 1vw;
}

.menuBar .links{
    float: right;
    margin-right: 1.5vw;
}
.menuBar .links a{
    font-size: 2vw;
    font-family: "Noto Serif JP", serif;
    text-decoration: underline;
    font-weight: bold;
    text-underline-offset:0.5vw;
    color: white;
    line-height: 10vw;
    padding: 0.5vw;
}

/* メイン */

/* Top */
.top{
    width: 100%;
    height: calc(100vh - 10vw);
    background-color: rgb(255, 255, 255);
}

.top .bottom-gradation{
    background: linear-gradient(rgba(80,80,80,0),rgba(80,80,80,0),rgba(80,80,80,1));
    width:100%;
    height: 50vh;
    z-index: 2;
    position: absolute;
    bottom: 0;
}

.top img{
    position: absolute;
    width: 50vw;
    left: 50vw;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.top p{
    position: absolute;
    font-size: 7.5vw;
    text-align: center;
    font-family: 'Dela Gothic One', serif;
    margin-top: 1vw;
    filter: drop-shadow(0 0 1vw black);
    right: 5vw;
    bottom: 5vh;
    z-index: 3;
}

/* sectionTitle */
.sectionTitle{
    display: flex;
}

.line-left{
    height:1vw;
    border: 0.25vw solid white;
    width: 10%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2vw;
    margin-left: 2vw;
    opacity: 0;
}

.line-right{
    height:1vw;
    border: 0.25vw solid white;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2vw;
    margin-left: 2vw;
    opacity: 0;
}

.text-path {
    font-family: "Dela Gothic One", sans-serif;
    stroke-dasharray: 100vw;
    stroke-dashoffset: 100vw;
    opacity: 0;
}

@keyframes drawText {
    to {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}

@keyframes drawLine{
    to {
        opacity: 1;
    }
}

/* News */
.news{
    padding-bottom: 10vw;
}

#newsBoxes{
    position: relative;
    display: flex;
    left:10vw;
    padding-top: 10vw;
    transition: 1s;
}

.newsBox{
    flex-shrink: 0;
    width:20vw;
    height: 20vw;
    background-color: white;
    border-radius: 10%;
    margin-left: 2vw;
    margin-right: 2vw;
    transition: 1s;
}

.newsBox p{
    color: black;
}

.selected{
    scale:175%;
    margin-left: 15vw;
    margin-right: 15vw;
}

.newsArrow{
    width: 5vw;
}

.newsArrow:active{
    filter: invert(100%);
}

#newsArrowRight{
    position: absolute;
    right: 22vw;
    top:calc(100vh + 35vw);
    transform: translate(-50%, -50%);
    z-index: 4;
}

#newsArrowLeft{
    position: absolute;
    left: 23vw;
    top:calc(100vh + 35vw);
    transform: translate(50%, -50%);
    z-index: 4;
}

/*Achievements*/
.achievements p{
    font-weight: bold;
    padding-left: 5vw;
    font-size: 3vw;
}

.achievements svg{
    padding-left: 2vw;
}

/*Blog*/
#fileList li{
    font-weight: bold;
    padding-left: 3vw;
    font-size: 3vw;
    text-decoration: underline;
    text-underline-offset: 0.5vw;
    width: 100%;
}

#fileList li:hover{
    color: rgb(80, 80, 80);
    background-color: white;
    border-radius: 1vw;
    padding: 0.5vw;
    margin-left: 2.5vw;
    transition: 0.5s;
    width: 90%;
}

/*Footer*/
.footer{
    background-color: white;
    width: 100%;
    height: 30vw;
    color: rgb(80, 80, 80);
    display: flex;
}

.footer p{
    margin-top: auto;
    margin-left: 3vw;
    font-size: 3vw;
    font-weight: bold;
}