*{
    padding: 0;
    margin: 0;
    z-index: 1;
}

html{
    scroll-behavior: smooth;
}

body{
    width:100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px),
                              linear-gradient(90deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
    background-size: 20px 20px; /* グリッドの大きさ */
    background-color: rgb(88, 148, 233);
    color: white;
    overflow-x: hidden;
}

@font-face {
    font-family: 'yorusugaraver';
    src: url();
}

.menu{
    width:100%;
    height:70px;
    background-color: white;
    display: flex;
    position:fixed;
}

.menu ul{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: auto;
}

.menu ul li a{
    margin-right: 3vw;
    list-style: none;
    font-size: 1.75vw;
    scale: 1 1.2;
    text-decoration: none;
    text-decoration: underline;
    text-decoration-thickness: 0.25vw;
    text-underline-offset: 0.5vw;
    font-weight: bold;
    color: rgb(86, 141, 219);
}

.menu #logo{
    margin: 3px;
    margin-left: 10px;
    filter: invert(45%) sepia(100%) saturate(100%) hue-rotate(175deg) brightness(90%) contrast(280%);
}

.menu #title{
    margin-left: 2vw;
    margin-top: auto;
    margin-bottom: auto;
    line-height: min(2.5vw,30px);
}

.menu #school{
    color: rgb(86, 141, 219);
    font-size: min(1.75vw,20px);
    font-weight: bold;
}

.menu #team{
    color: rgb(86, 141, 219);
    font-size: min(2.5vw,30px);
    font-weight: bold;
}

.top{
    width:100%;
    height:100vh;
    display: flex;
}

.motto{
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10vw;
}

.motto p{
    display: inline-block;
    background:linear-gradient(transparent 50%, rgba(230, 250, 12, 0.75) 0%);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 4vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
